.background {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #283d58;
}

.app-container {
  background-color: white;
  width: 700px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 5px 5px darkcyan;
}

.app-title {
  margin-top: 0px;
}